pytest
coverage~=6.5
codecov
pytest-cov
pytest-spark
nbval
pyarrow
twine>=3.1.1
kaggle
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability