black>=20.8b1
isort>=5.0.7
pre-commit>=2.8.2
virtualenv>=20.0.33
twine
wheel
myst-parser>=0.18.1
sphinx_rtd_theme>=0.4.3
sphinx-autodoc-typehints>=1.10.3
sphinx-multiversion>=0.2.3
autodoc_pydantic
certifi>=2024.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
idna>=3.7 # not directly required, pinned by Snyk to avoid a vulnerability
jinja2>=3.1.4 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.15.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
sphinx>=3.3.0 # not directly required, pinned by Snyk to avoid a vulnerability
tqdm>=4.66.3 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
